<h1>Fun Bracket</h1>

<pre>
1) Dor v Megan ------+
                     |-- 10) w[1] v w[2] -+
2) Aaron S. v Brian -+                    |
                                          |-- 14) w[10] v w[11] ----------------------+
3) Honie v Josh M. --+                    |                                            |
                     |-- 11) w[3] v w[4] -+                                            |
4) Aaron L. v Kevin -+                                                                 |
                                                                                       |-- 17) w[14] v w[16]
5) Shane v Naseem ---+                                                                 |
                     |-- 12) w[5] v w[6] -----------------------+                      |
6) Carl v Hampton ---+                                          |                      |
                                                                |-- 16) w[12] v w[15] -+
7) Dave Roy v Matt --+                                          |
                     |-- 13) w[7] v w[8] -+                     |
8) Phil v Curtis ----+                    |-- 15) w[13] v w[9] -+
                                          |
9) Carla v Michelle ----------------------+
</pre>

<br>

<h1>Fun Wildcard</h1>

<pre>
18) l[1] v l[2] -- 22) w[18] v l[9] --- 26) w[22] v l[13] -- 30) w[26] v l[17] -+
                                                                                |-- 32) w[30] v w[27] -+
19) l[3] v l[4] -- 23) w[19] v l[10] -- 27) w[23] v l[14] ----------------------+                      |
                                                                                                       |-- 33) w[32] v w[31]
20) l[5] v l[6] -- 24) w[20] v l[11] -- 28) w[24] v l[15] -+                                           |
                                                           |-- 31) w[28] v w[29] ----------------------+
21) l[7] v l[8] -- 25) w[21] v l[12] -- 29) w[25] v l[16] -+
</pre>

<br>

<h1>Finals</h1>

<pre>34) w[17] v w[33]</pre>
