<h1>Serious Bracket</h1>

<div class="bracket">
<br>1) <%= bracket_match(@matches[1], "-", "-") %>-----+
<br>                      |-- 7) <%= bracket_match(@matches[7], "w[1]", "w[2]") -+
<br>2) Ajay v Stephen ----+                   |
<br>                                          |-- 10) w[7] v w[8] -+
<br>3) Hari v David ------+                   |                    |
<br>                      |-- 8) w[3] v w[4] -+                    |
<br>4) Zhifeng v Anthony -+                                        |-- 11) w[10] v w[9]
<br>                                                               |
<br>5) Omar v James ------+                                        |
<br>                      |-- 9) w[5] v w[6] ----------------------+
<br>6) Sean v Mitch ------+
</div>

<br>

<h1>Serious Wildcard</h1>

<div class="bracket">
<br>12) l[1] v l[2] -- 15) w[12] v l[7] -- 18) w[15] v l[10] ------------------------+
<br>                                                                                 |-- 21) w[18] v w[19]
<br>13) l[3] v l[4] -- 16) w[13] v l[8] -- 19) w[16] v l[11] -+                      |
<br>                                                          |-- 20) w[17] v w[19] -+
<br>14) l[5] v l[6] -- 17) w[14] v l[9] ----------------------+
</div>

<br>

<h1>Finals</h1>
<div class="bracket">22) w[11] v w[21]</div>
