<h1>Prizes!</h1>

<p>
Picking the prizes was probably the hardest part of organizing this tournament.  I thought long and hard about what to get for each league.  After lots of deliberation and searching on Amazon, I got something that I was satisfied with.  Each prize was chosen with the embodiment of the league in mind.
</p>
<h3>Fun League Prize</h3>
<table cellpadding="10" cellspacing="10">
<tr><td>
<img src="https://dl.dropbox.com/u/9921601/moovweb/pingpong/prizes/fun.jpg" align="left" style="float: left">
</td><td align="left" valign="top"><p>
<br/>
<br/>
The Fun league's prize was chosen with Fun in mind, thus, I tried to buy a really fun prize.  Something that I know has brough me hours of enjoyment, and hopefully will bring the winner the same.
</p></td></tr></table>
<h3>Serious League Prize</h3>
<table cellpadding="10" cellspacing="10"><tr><td>
<img src="https://dl.dropbox.com/u/9921601/moovweb/pingpong/prizes/serious.jpg" align="left" style="float:left">
</td><td align="left" valign="top"><p>
<br/>
<br/>
The Serious league's prize was chosen with the utmost respect in mind.  I wanted the prize to demand respect from others, to let everyone know that this person is a winner, and everyone else is not.
</p>
</td></tr></table>
<h3>Doubles League Prize</h3>
<table cellpadding="10" cellspacing="10"><tr><td>
<img src="https://dl.dropbox.com/u/9921601/moovweb/pingpong/prizes/doubles.jpg" align="left" style="float:left">
</td><td align="left" valign="top"><p>
<br/>
<br/>
The Doubles league's prize was chosen to commemorate the bond between the two winners.  I wanted to convey the emotion of comradery, partnership, kind of like the 'us against the world against all odds' type of feeling.  With this prize, I hope neither of you will ever forget what you've been through together.
</p></td></tr></table>

